#semafor {
    width: 350px;
    height: 1020px;
    border: 9px solid silver;
    border-radius: 100px;
    margin: 300px;
    background-color: black;
}

.boja{
    width: 300px;
    height: 300px;
    border: 1px solid silver;
    border-radius: 300px;
    margin: 25px;
}